body {
    background-image: linear-gradient(
        #cca8e9, /* fourth color */
        #c3bef0 50%, /* third color */
        #cadefc 75%, /* second color */
        #defcf9 100% /* first color */
    );
    background-repeat: no-repeat;
    
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styles for the navigation and other elements */
nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer {
    height: inherit;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: initial;
}

.logo {
    width: 150px;
    height: 80px;
    background-image: url("one-ui-seeklogo.svg");
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.logo h1 a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #162D52;
    justify-content: flex-start;
}

.navItems {
    height: inherit;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

.navItems ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.navItems ul li {
    list-style: none;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    position: sticky;
    animation: hover 1s infinite;
}

.btn-1:hover {
    background-color: blueviolet;
}

.TEXT1:hover {
    color: #F89ABF;
    opacity: 1;
}

.btn-1 {
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.8rem;
    height: 40px;
    margin-left: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.About-h2 {
    color: rgba(35, 35, 35, 0.95);
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 140px;
    margin-top: 100px;
    background-color: transparent;
    border-radius: 48px;
    border: solid 2px #000;
    width: 120px;
    height: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.About-h2-1 {
    color: rgba(35, 35, 35, 0.95);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 140px;
    margin-top: 50px;
    align-items: center;
    text-align: left;
}

.testimonials-container {
    flex-direction: column;
    width: 300px;
    margin-left: 850px;
    margin-top: -350px;
}

/* Individual testimonial */
.testimonial-1,
.testimonial-2,
.testimonial-3,
.testimonial-4,
.testimonial-5 {
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.9rem;
    margin-top: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.testimonial-1 {
    margin-left: -30px;
    width: 200px;
}

.testimonial-2 {
    margin-left: 30px;
    text-align: right;
}

.testimonial-3 {
    margin-left: -30px;
    width: 250px;
}

.testimonial-4 {
    margin-left: 50px;
    text-align: right;
    padding: 5px;
    width: 240px;
    
}

.testimonial-5 {
    margin-left: -30px;
    width: 180px;
    padding: 5px;
}

.testimonial p {
    margin-bottom: 5px;
    font-style: italic;
}

.testimonial span {
    display: block;
    text-align: right;
    font-weight: bold;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
